body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-news-cycle: "News Cycle";
  --font-reem-kufi: "Reem Kufi";
  --font-montserrat: Montserrat;

  /* font sizes */
  --font-size-lg: 18px;
  --font-size-sm: 14px;
  --font-size-11xl: 30px;
  --font-size-5xl: 24px;
  --font-size-4xl: 23px;
  --font-size-xs: 12px;
  --font-size-3xs: 10px;
  --font-size-smi: 13px;

  /* Colors */
  --color-white: #fff;
  --color-darkslateblue: #003366;
  --color-gold: #ffcc00;
  --color-gray: rgba(255, 255, 255, 0.5);
  --color-darkslategray: #4b4b4b;

  /* Gaps */
  --gap-28xl: 47px;
  --gap-4xl: 23px;
  --gap-3xs: 10px;
  --gap-5xs: 8px;
  --gap-6xs: 7px;
  --gap-xs: 12px;
  --gap-lgi: 19px;
  --gap-2xs: 11px;
  --gap-9xs: 4px;

  /* Paddings */
  --padding-28xl: 47px;
  --padding-smi: 13px;
  --padding-xl: 20px;
  --padding-12xl: 31px;
  --padding-lgi: 19px;
  --padding-base: 16px;
  --padding-mid: 17px;
  --padding-60xl: 79px;
  --padding-20xl: 39px;
  --padding-8xs: 5px;
  --padding-6xs: 7px;
  --padding-2xs: 11px;
  --padding-10xs: 3px;
  --padding-7xs: 6px;
  --padding-9xs: 4px;
  --padding-3xs: 10px;
  --padding-mini: 15px;
  --padding-13xl: 32px;
  --padding-11xs: 2px;
  --padding-5xs: 8px;

  /* Border radiuses */
  --br-xl: 20px;
  --br-13xl: 32px;
  --br-7xs: 6px;
  --br-smi: 13px;
  --br-mini: 15px;
}
