.connected-rectangles,
.f-r-a-m-e {
  position: absolute;
  background-color: var(--color-white);
}
.f-r-a-m-e {
  width: 100%;
  margin: 0 !important;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.connected-rectangles {
  top: 17.48px;
  left: 36.31px;
  width: 8.4px;
  height: 17px;
  transform: rotate(40.75deg);
  transform-origin: 0 0;
}
.connected-rectangles1,
.connected-rectangles2,
.text-input {
  position: absolute;
  top: 41.72px;
  left: 41.4px;
  background-color: var(--color-gold);
  width: 9.5px;
  height: 32.6px;
  transform: rotate(133.21deg);
  transform-origin: 0 0;
  z-index: 1;
}
.connected-rectangles1,
.connected-rectangles2 {
  top: 0.01px;
  left: 28.15px;
  width: 8.4px;
  height: 40.7px;
  transform: rotate(43.79deg);
  z-index: 2;
}
.connected-rectangles2 {
  top: 28.16px;
  left: 57.4px;
  background-color: var(--color-white);
  transform: rotate(133.78deg);
  z-index: 3;
}
.connected-rectangles-parent {
  height: 48.6px;
  width: 57.4px;
  position: relative;
}
.thaekedar {
  margin: 0;
  height: 45px;
  position: relative;
  font-size: inherit;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  white-space: nowrap;
}
.frame-children {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.home1 {
  height: 35px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.agencies {
  white-space: nowrap;
  cursor: pointer;
}
.agencies,
.peoples,
.signup,
.suppliers {
  height: 35px;
  position: relative;
  display: inline-block;
}
.signup,
.suppliers {
  cursor: pointer;
}
.connect-build,
.sign-up-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}
.connect-build {
  width: 97px;
  border-radius: var(--br-smi);
  background-color: var(--color-gold);
  justify-content: center;
  padding: var(--padding-11xs);
  color: var(--color-darkslateblue);
}
.sign-up-text {
  flex: 1;
  justify-content: space-between;
  padding: 0 18px 0 var(--padding-smi);
  gap: 20px;
  max-width: 100%;
  font-size: var(--font-size-4xl);
}
.find-construction-needs {
  height: 3px;
  width: 60px;
  position: absolute;
  margin: 0 !important;
  bottom: 21px;
  left: 352px;
  border-radius: 4px;
  background-color: var(--color-gold);
}
.frame-children-parent {
  width: 1060px;
  border-radius: var(--br-smi);
  background-color: var(--color-darkslateblue);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) 24px var(--padding-lgi) var(--padding-13xl);
  box-sizing: border-box;
  position: sticky;
  gap: 49px;
  top: 0;
  z-index: 99;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
  font-family: var(--font-reem-kufi);
}
.balaju-banasthali-baluwatar-ka-child {
  height: 35px;
  width: 113px;
  position: relative;
  border-radius: var(--br-mini) var(--br-mini) 0 0;
  background-color: var(--color-white);
  display: none;
}
.interior-designer {
  position: relative;
  cursor: pointer;
  z-index: 2;
}
.balaju-banasthali-baluwatar-ka {
  border-radius: var(--br-mini) var(--br-mini) 0 0;
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-9xs) var(--padding-5xs)
    var(--padding-5xs);
  white-space: nowrap;
  z-index: 1;
}
.balaju-banasthali-baluwatar-ka-item {
  position: absolute;
  top: 35px;
  left: 113px;
  background-color: var(--color-white);
  width: 100%;
  height: 100%;
  transform: rotate(180deg);
  transform-origin: 0 0;
  cursor: pointer;
  z-index: 2;
}
.architect {
  position: absolute;
  top: 7px;
  left: 8px;
  z-index: 3;
}
.balaju-banasthali-baluwatar-ka1 {
  align-self: stretch;
  height: 35px;
  position: relative;
}
.balaju-banasthali-baluwatar-ka-inner {
  height: 35px;
  width: 113px;
  position: relative;
  border-radius: var(--br-mini) var(--br-mini) 0 0;
  background-color: var(--color-white);
  transform: rotate(180deg);
  display: none;
}
.engineer {
  position: relative;
  cursor: pointer;
  z-index: 4;
}
.balaju-banasthali-baluwatar-ka2 {
  align-self: stretch;
  border-radius: var(--br-mini) var(--br-mini) 0 0;
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-5xs) var(--padding-6xs);
  z-index: 3;
}
.corkco-supplier,
.tiyani-construction-agency-ste {
  width: 113px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.corkco-supplier {
  width: 390px;
  flex-direction: row;
  justify-content: flex-end;
  max-width: 100%;
}
.build,
.connect {
  margin: 0;
}
.connect-build1,
.your-every-needs {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.connect-build1 {
  margin: 0;
  width: 346px;
  height: 150px;
  font-size: inherit;
  font-weight: 900;
  font-family: inherit;
  flex-shrink: 0;
  max-width: 100%;
}
.your-every-needs {
  align-self: stretch;
  height: 70px;
  font-size: var(--font-size-4xl);
  font-family: var(--font-reem-kufi);
}
.agencies-frame {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  max-width: 100%;
}
.agencies1 {
  height: 35px;
  position: relative;
  display: inline-block;
}
.agencies-suppliers-group {
  flex: 1;
  border-radius: var(--br-smi);
  background-color: var(--color-gold);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs);
  box-sizing: border-box;
  min-width: 87px;
  cursor: pointer;
  z-index: 1;
}
.architect1 {
  height: 35px;
  position: relative;
  display: inline-block;
}
.agencies-suppliers-group1 {
  flex: 1;
  border-radius: var(--br-smi);
  background-color: var(--color-gold);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs);
  box-sizing: border-box;
  min-width: 87px;
  cursor: pointer;
  z-index: 1;
}
.suppliers1 {
  height: 35px;
  position: relative;
  display: inline-block;
}
.agencies-suppliers-group2 {
  flex: 1;
  border-radius: var(--br-smi);
  background-color: var(--color-gold);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs);
  box-sizing: border-box;
  min-width: 87px;
  cursor: pointer;
  z-index: 1;
}
.agencies-framework,
.sign-up-text1,
.top-level-frame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.agencies-framework {
  width: 395px;
  flex-direction: row;
  gap: 26px;
  font-size: var(--font-size-4xl);
  font-family: var(--font-reem-kufi);
}
.sign-up-text1,
.top-level-frame {
  flex-direction: column;
}
.sign-up-text1 {
  align-self: stretch;
  gap: 38px;
}
.top-level-frame {
  width: 480px;
  padding: 0 0 var(--padding-10xs);
  box-sizing: border-box;
  min-width: 480px;
}
.th1-1-icon {
  height: 350px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 348px;
  z-index: 1;
}
.add-your-contact-now,
.main-frames,
.top-rated-frames {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}
.add-your-contact-now {
  align-self: stretch;
  flex-direction: row;
  gap: 3px;
  font-size: 64px;
  font-family: var(--font-montserrat);
}
.main-frames,
.top-rated-frames {
  flex-direction: column;
}
.top-rated-frames {
  width: 1018px;
  gap: 28px;
}
.main-frames {
  align-self: stretch;
  padding: var(--padding-13xl) var(--padding-13xl) 73px;
  box-sizing: border-box;
  position: relative;
  gap: 5px;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-darkslateblue);
  font-family: var(--font-reem-kufi);
}
.tiyani-construction-agency-child {
  width: 1440px;
  position: relative;
  background-color: var(--color-darkslateblue);
  height: 566px;
  display: none;
  max-width: 100%;
}
.find-your-construction {
  margin: 0;
  width: 529px;
  height: 38px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  white-space: pre-wrap;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  padding-left: var(--padding-xl);
  padding-right: var(--padding-xl);
  z-index: 1;
}
.ag2-1-icon,
.frame-child {
  position: relative;
  display: none;
}
.frame-child {
  align-self: stretch;
  border-radius: var(--br-13xl);
  background-color: var(--color-white);
  box-shadow: 5px 4px 25.1px rgba(0, 0, 0, 0.25);
  height: 342px;
  z-index: 0;
}
.ag2-1-icon {
  height: 248px;
  width: 288px;
  border-radius: var(--br-13xl) var(--br-13xl) 0 0;
  object-fit: cover;
}
.top-rated-s-u-frame-child {
  height: 21px;
  width: 81px;
  position: relative;
  z-index: 2;
}
.top-rated {
  width: 54px;
  position: relative;
  font-size: var(--font-size-3xs);
  font-weight: 600;
  font-family: var(--font-reem-kufi);
  color: var(--color-darkslateblue);
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
  z-index: 3;
  margin-left: -65px;
}
.i-d-frame,
.top-rated-s-u-frame {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.top-rated-s-u-frame {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-2xs) 0 0;
  background-color: transparent;
  align-items: center;
}
.i-d-frame {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-13xl) var(--br-13xl) 0 0;
  align-items: flex-start;
  padding: var(--padding-12xl) 0;
  background-image: url(./public/i-d-frame@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
}
.balaju-banasthali,
.tiyani-construction- {
  position: relative;
  z-index: 1;
}
.balaju-banasthali {
  font-size: var(--font-size-xs);
  font-weight: 600;
  font-family: var(--font-reem-kufi);
  color: var(--color-darkslategray);
}
.supplier-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.get-contact {
  position: relative;
  font-weight: 600;
}
.contact-frame {
  border-radius: var(--br-7xs);
  background-color: var(--color-gold);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-10xs) var(--padding-7xs) var(--padding-9xs)
    var(--padding-3xs);
  white-space: nowrap;
  z-index: 1;
  text-align: center;
  font-size: var(--font-size-xs);
  font-family: var(--font-reem-kufi);
}
.agency-frame-group,
.go-back-frame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.agency-frame-group {
  flex-direction: column;
  gap: var(--gap-2xs);
}
.go-back-frame {
  flex-direction: row;
  padding: 0 var(--padding-mini);
}
.go-back-icon {
  width: 63px;
  height: 65px;
  position: absolute;
  margin: 0 !important;
  top: 124px;
  left: -48px;
  object-fit: cover;
  z-index: 4;
}
.frame-item,
.rectangle-parent {
  position: relative;
  border-radius: var(--br-13xl);
  background-color: var(--color-white);
  box-shadow: 5px 4px 25.1px rgba(0, 0, 0, 0.25);
  height: 342px;
}
.rectangle-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-mini);
  box-sizing: border-box;
  gap: var(--gap-6xs);
  z-index: 1;
}
.frame-item {
  align-self: stretch;
  display: none;
}
.ag2-1-icon1,
.id1-1-icon {
  border-radius: var(--br-13xl) var(--br-13xl) 0 0;
  object-fit: cover;
}
.ag2-1-icon1 {
  height: 248px;
  width: 288px;
  position: relative;
  display: none;
  z-index: 0;
}
.id1-1-icon {
  width: 100%;
  position: absolute;
  margin: 0 !important;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 2;
}
.corkco-supplier-frame-child {
  height: 21px;
  width: 81px;
  position: relative;
  z-index: 3;
}
.top-rated1 {
  width: 54px;
  position: relative;
  font-size: var(--font-size-3xs);
  font-weight: 600;
  font-family: var(--font-reem-kufi);
  color: var(--color-darkslateblue);
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
  z-index: 4;
  margin-left: -65px;
}
.ag2-1-parent,
.corkco-supplier-frame {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.corkco-supplier-frame {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-2xs) 0 0;
  background-color: transparent;
  align-items: center;
}
.ag2-1-parent {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-13xl) var(--br-13xl) 0 0;
  align-items: flex-start;
  padding: var(--padding-12xl) 0;
  background-image: url(./public/frame-3@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.ag2-1-parent,
.baluwatar-kathmandu,
.stephanie-interior {
  position: relative;
  z-index: 1;
}
.baluwatar-kathmandu {
  font-size: var(--font-size-xs);
  font-weight: 600;
  font-family: var(--font-reem-kufi);
  color: var(--color-darkslategray);
}
.stephanie-interior-designer-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.get-contact1 {
  position: relative;
  font-weight: 600;
}
.get-contact-wrapper {
  border-radius: var(--br-7xs);
  background-color: var(--color-gold);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-10xs) var(--padding-7xs) var(--padding-9xs)
    var(--padding-3xs);
  white-space: nowrap;
  z-index: 1;
  text-align: center;
  font-size: var(--font-size-xs);
  font-family: var(--font-reem-kufi);
}
.frame-parent,
.frame-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent {
  flex-direction: column;
  gap: var(--gap-2xs);
}
.frame-wrapper {
  flex-direction: row;
  padding: 0 var(--padding-mini);
}
.frame-inner,
.rectangle-group {
  border-radius: var(--br-13xl);
  background-color: var(--color-white);
  box-shadow: 5px 4px 25.1px rgba(0, 0, 0, 0.25);
  height: 342px;
}
.rectangle-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-mini);
  box-sizing: border-box;
  gap: var(--gap-6xs);
  z-index: 1;
}
.frame-inner {
  align-self: stretch;
  position: relative;
  display: none;
  z-index: 0;
}
.ag2-1-icon2,
.id1-1-icon1 {
  border-radius: var(--br-13xl) var(--br-13xl) 0 0;
  object-fit: cover;
}
.ag2-1-icon2 {
  height: 248px;
  width: 288px;
  position: relative;
  display: none;
  z-index: 0;
}
.id1-1-icon1 {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 2;
}
.id1-1-icon1,
.id1-1-parent,
.su1-1-icon {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.su1-1-icon {
  border-radius: var(--br-13xl) var(--br-13xl) 0 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 3;
}
.id1-1-parent {
  margin: 0 !important;
}
.rectangle-icon {
  height: 21px;
  width: 81px;
  position: relative;
  z-index: 4;
}
.top-rated2 {
  width: 54px;
  position: relative;
  font-size: var(--font-size-3xs);
  font-weight: 600;
  font-family: var(--font-reem-kufi);
  color: var(--color-darkslateblue);
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
  z-index: 5;
  margin-left: -65px;
}
.ag2-1-group,
.vector-parent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.vector-parent {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-2xs) 0 0;
  background-color: transparent;
  align-items: center;
}
.ag2-1-group {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-13xl) var(--br-13xl) 0 0;
  align-items: flex-start;
  padding: var(--padding-12xl) 0;
  background-image: url(./public/frame-5@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.ag2-1-group,
.corkco-supplier1 {
  position: relative;
  z-index: 1;
}
.corkco-supplier-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  font-size: var(--font-size-sm);
  font-family: var(--font-montserrat);
}
.toronto-canada {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.toronto-canada-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mini);
  color: var(--color-darkslategray);
}
.get-contact2 {
  position: relative;
  font-weight: 600;
}
.get-contact-frame {
  border-radius: var(--br-7xs);
  background-color: var(--color-gold);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-10xs) var(--padding-7xs) var(--padding-9xs)
    var(--padding-3xs);
  white-space: nowrap;
  z-index: 1;
}
.get-contact-frame-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  text-align: center;
}
.go-back-icon1 {
  width: 63px;
  height: 65px;
  position: absolute;
  margin: 0 !important;
  top: 124px;
  right: -48px;
  object-fit: contain;
  z-index: 6;
}
.rectangle-container {
  height: 342px;
  border-radius: var(--br-13xl);
  background-color: var(--color-white);
  box-shadow: 5px 4px 25.1px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-lgi);
  box-sizing: border-box;
  position: relative;
  gap: 6px;
  z-index: 1;
  font-size: var(--font-size-xs);
  font-family: var(--font-reem-kufi);
}
.tiyani-construction-agency,
.top-rated-frame-group {
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.top-rated-frame-group {
  width: 968px;
  display: grid;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-xl);
  gap: 32px;
  grid-template-columns: repeat(3, minmax(216px, 1fr));
  font-size: var(--font-size-sm);
  color: var(--color-darkslateblue);
  font-family: var(--font-montserrat);
}
.tiyani-construction-agency {
  align-self: stretch;
  background-color: var(--color-darkslateblue);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-mid) var(--padding-mid) 82px;
  gap: 87px;
  text-align: left;
  font-size: 36px;
  color: #d9d9d9;
  font-family: var(--font-reem-kufi);
}
.f-335791471-zr9ce4zii3pp4n7ip7-icon {
  width: 1440px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  display: none;
  max-width: 100%;
}
.rectangle-div {
  width: 928px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-gray);
  box-shadow: 4px 4px 14.7px rgba(0, 0, 0, 0.25);
  height: 287px;
  display: none;
  max-width: 100%;
}
.add-yours-contact {
  margin: 0;
  height: 48px;
  position: relative;
  font-size: inherit;
  font-weight: 900;
  font-family: inherit;
  display: inline-block;
  z-index: 2;
}
.register-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 30px;
  box-sizing: border-box;
  max-width: 100%;
}
.by-registering-you,
.learn-more {
  position: relative;
  font-size: var(--font-size-4xl);
  font-family: var(--font-reem-kufi);
  display: inline-block;
}
.by-registering-you {
  width: 638px;
  height: 70px;
  max-width: 100%;
  z-index: 2;
}
.learn-more {
  height: 35px;
  color: var(--color-darkslateblue);
  text-align: left;
}
.learn-more-wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-8xs) var(--padding-6xs) var(--padding-8xs)
    var(--padding-2xs);
  background-color: var(--color-gold);
  border-radius: 9px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  z-index: 2;
}
.learn-more-wrapper:hover {
  background-color: #c90;
}
.frame-container {
  width: 194px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.about-frame,
.frame-div {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-div {
  width: 928px;
  border-radius: var(--br-xl);
  background-color: var(--color-gray);
  box-shadow: 4px 4px 14.7px rgba(0, 0, 0, 0.25);
  flex-direction: column;
  justify-content: flex-start;
  padding: 42px var(--padding-xl) 43px 70px;
  gap: var(--gap-lgi);
  z-index: 1;
}
.about-frame {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-60xl) var(--padding-60xl) 80px;
  background-image: url(./public/about-frame@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: 40px;
  color: var(--color-darkslateblue);
  font-family: var(--font-montserrat);
}
.frame-child1 {
  width: 1440px;
  position: relative;
  background-color: var(--color-darkslateblue);
  height: 359px;
  display: none;
  max-width: 100%;
}
.frame-child2 {
  position: absolute;
  top: 17.48px;
  left: 36.31px;
  background-color: var(--color-white);
  width: 8.4px;
  height: 17px;
  transform: rotate(40.75deg);
  transform-origin: 0 0;
  display: none;
}
.frame-child3,
.frame-child4,
.frame-child5 {
  position: absolute;
  top: 41.72px;
  left: 41.4px;
  background-color: var(--color-gold);
  width: 9.5px;
  height: 32.6px;
  transform: rotate(133.21deg);
  transform-origin: 0 0;
  z-index: 1;
}
.frame-child4,
.frame-child5 {
  top: 0.01px;
  left: 28.15px;
  width: 8.4px;
  height: 40.7px;
  transform: rotate(43.79deg);
  z-index: 2;
}
.frame-child5 {
  top: 28.16px;
  left: 57.4px;
  background-color: var(--color-white);
  transform: rotate(133.78deg);
  display: none;
  z-index: 3;
}
.group-div,
.thaekedar1 {
  position: relative;
  z-index: 1;
}
.group-div {
  height: 48.6px;
  width: 57.4px;
}
.thaekedar1 {
  margin: 0;
  height: 45px;
  font-size: inherit;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.group,
.group-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.group {
  align-items: flex-end;
  gap: var(--gap-xs);
}
.group-wrapper {
  align-self: stretch;
  align-items: flex-start;
}
.thaekedar-is-a {
  width: 251px;
  position: relative;
  font-size: var(--font-size-sm);
  display: inline-block;
  z-index: 1;
}
.rectangle {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 9px;
}
.follow-us-on {
  align-self: stretch;
  position: relative;
  font-weight: 800;
  z-index: 1;
}
.facebook-icon {
  height: 12px;
  width: 12px;
  position: relative;
  object-fit: cover;
}
.instagram-icon,
.twitter-icon {
  width: 13px;
  position: relative;
  object-fit: cover;
}
.twitter-icon {
  height: 13px;
  min-height: 13px;
}
.instagram-icon {
  height: 12px;
}
.facebook-twitter-instagram {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 28px 0 0;
  gap: 30px;
  z-index: 1;
}
.copyright-info {
  width: 184px;
  align-items: flex-start;
  gap: var(--gap-6xs);
  font-size: var(--font-size-lg);
  font-family: var(--font-montserrat);
}
.copyright-info,
.group-frame,
.suppliers2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.group-frame {
  align-self: stretch;
  align-items: center;
  gap: 31px;
}
.suppliers2 {
  width: 320px;
  align-items: flex-start;
  padding: 0 0 var(--padding-xl);
  box-sizing: border-box;
  font-size: var(--font-size-11xl);
  font-family: var(--font-reem-kufi);
}
.links {
  font-weight: 800;
  z-index: 1;
}
.agencies2,
.links,
.peoples1,
.suppliers4 {
  position: relative;
}
.about-contact,
.suppliers3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.suppliers3 {
  width: 112px;
  height: 95px;
  padding: 0;
  box-sizing: border-box;
  gap: var(--gap-5xs);
  z-index: 1;
  font-family: var(--font-reem-kufi);
}
.about-contact {
  width: 170px;
  gap: 29px;
}
.about {
  position: relative;
  font-weight: 800;
  z-index: 1;
}
.careers,
.our-story {
  height: 27px;
  position: relative;
  display: inline-block;
}
.careersinfo {
  align-self: stretch;
  padding: var(--padding-base) 0 var(--padding-mid);
  gap: var(--gap-5xs);
  z-index: 1;
  font-family: var(--font-reem-kufi);
}
.about-contact1,
.about-parent,
.careersinfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.about-parent {
  width: 112px;
  gap: var(--gap-3xs);
}
.about-contact1 {
  width: 170px;
  padding: 0 0 var(--padding-lgi);
  box-sizing: border-box;
}
.contact-us {
  position: relative;
  font-weight: 800;
  z-index: 1;
}
.div {
  height: 27px;
  position: relative;
  display: inline-block;
}
.infothaekedarcom {
  position: relative;
  white-space: nowrap;
}
.parent {
  padding: var(--padding-base) 0 var(--padding-mid);
  gap: var(--gap-5xs);
  z-index: 1;
  font-family: var(--font-reem-kufi);
}
.about-contact2,
.contact-us-parent,
.parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-us-parent {
  gap: var(--gap-3xs);
}
.about-contact2 {
  padding: 0 0 var(--padding-lgi);
}
.links-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-28xl);
  max-width: 100%;
}
.copyright-2023 {
  height: 38px;
  width: 335px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.footer-copyright {
  width: 408px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 100%;
  font-size: 16px;
  font-family: var(--font-news-cycle);
}
.frame-footer,
.home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-footer {
  align-self: stretch;
  background-color: var(--color-darkslateblue);
  align-items: center;
  padding: var(--padding-28xl) 36px var(--padding-smi) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-28xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
.home {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  align-items: flex-start;
  letter-spacing: normal;
}
@media screen and (max-width: 1050px) {
  .about-frame {
    padding-left: var(--padding-20xl);
    padding-right: var(--padding-20xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1000px) {
  .sign-up-text {
    display: none;
  }
  .frame-children-parent {
    width: 361px;
  }
  .connect-build1 {
    font-size: 51px;
  }
  .top-level-frame {
    flex: 1;
  }
  .add-your-contact-now {
    flex-wrap: wrap;
  }
  .find-your-construction {
    font-size: 29px;
  }
  .top-rated-frame-group {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(216px, 374px));
  }
  .tiyani-construction-agency {
    gap: 43px;
  }
  .add-yours-contact {
    font-size: 32px;
  }
  .thaekedar1 {
    font-size: var(--font-size-5xl);
  }
  .links-frame {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .frame-children-parent {
    gap: 24px;
  }
  .sign-up-text1 {
    gap: var(--gap-lgi);
  }
  .top-level-frame {
    min-width: 100%;
  }
  .main-frames {
    padding-top: 21px;
    padding-bottom: var(--padding-28xl);
    box-sizing: border-box;
  }
  .top-rated-frame-group {
    gap: 16px;
  }
  .tiyani-construction-agency {
    gap: 22px;
    padding-top: var(--padding-xl);
    padding-bottom: 53px;
    box-sizing: border-box;
  }
  .frame-div {
    padding-left: 35px;
    box-sizing: border-box;
  }
  .frame-footer,
  .links-frame {
    gap: var(--gap-4xl);
  }
}
@media screen and (max-width: 450px) {
  .connect-build1 {
    font-size: 38px;
  }
  .agencies1,
  .architect1,
  .suppliers1,
  .your-every-needs {
    font-size: var(--font-size-lg);
  }
  .agencies-framework {
    flex-wrap: wrap;
  }
  .th1-1-icon {
    min-width: 100%;
  }
  .find-your-construction {
    font-size: 22px;
  }
  .top-rated-frame-group {
    grid-template-columns: minmax(216px, 1fr);
  }
  .add-yours-contact {
    font-size: var(--font-size-5xl);
  }
  .by-registering-you {
    font-size: var(--font-size-lg);
  }
  .about-frame {
    padding-top: 51px;
    padding-bottom: 52px;
    box-sizing: border-box;
  }
  .thaekedar1 {
    font-size: var(--font-size-lg);
  }
  .group-frame {
    gap: 15px;
  }
  .frame-footer {
    padding-top: var(--padding-12xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
