body{
    margin: 0;
    padding: 0;
}
#admin-sidebar{
    height:100vh;
    width: 314px;
    background-color: #003366;
    position: fixed;
}
#admin-logo{
    height: 48.65px;
    width: 57.44px;
    position: absolute;
    top: 40px;
    left: 29px;
}
#admin-sidebar h1{
    color: #fff;
    font-family: 'reem kufi';
    margin: 0;
    position: absolute;
    top: 45px;
    left: 90px;
}
#admin-menu p{
    /* width: 100%; */
    font-family: 'reem kufi';
    font-size: 24px;
    background-color: #113B65;
    color: #fff;
    margin-left: 15px;             
}
#admin-menu a{
    text-decoration:none;
}
#admin-menu{
    position: absolute;
    top: 250px;
}
#admin-menu p:hover{
    background-color: #275B8E;
}
h2{
    position: absolute;
    left: 45%;
    top: 0;
    font-family: 'montserrat';
    font-size: 32px;
    font-weight: 900;
    color: #003366;
}
#application-placement{
    position: absolute;
    left: 30%;
    top: 100px;
    height: 600px;
    width: 62%;
    display: grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
    /* background-color: aqua; */
}
#applicants-box{
    display: grid;
    margin-top: 30px;
    margin-left: 30px;
    background-color: #fff;
    height: 120px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 6px 4px 9.9px rgba(0, 0, 0, 0.25);
}
#applicantheading{
    /* position: absolute; */
    font-family: 'montserrat';
    font-size: 14px;
    color: #003366;
    margin: 0;
    margin-left: 10px;
    margin-top: 10px;
}
#view-application{
    background-color: #00FF1A;
    border-radius: 5px;
    color: #003366;
    border: 0;
    height: 25px;
    width: 90px;
    font-family: 'montserrat';
    font-weight: 900;
    font-size: 8px;
    margin-top: 20px;
    margin-left: 80px;
}
#view-application:hover{
    background-color: #5cff6c;
}
#cn-grid{
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
}
#applicant-name{
    height: 120px;
    width: 376px;
}
#app-he{
    font-family: 'montserrat';
    font-size: 16px;
    color: #B8B8B8;
}
#app-data{
    font-family: 'montserrat';
    font-size: 20px;
    color: #003366;
}
#appdec-placement{
    position: absolute;
    left: 30%;
    top: 130px;
    height: 600px;
    width: 62%;
    /* background-color: aqua; */
}
#desc-box{
    width: 370px;
    padding:5px 20px 20px 10px;
    border-radius: 19px;
    border:1px solid #FFCC00;
    font-family: 'reem kufi';
    color: #003366;
    box-shadow: 6px 4px 9.9px rgba(0, 0, 0, 0.25);
}
.app-btn{
    background-color: #FFCC00;
    height: 42px;
    width: 120px;
    font-family: 'montserrat';
    color: #003366;
    border: 0;
    border-radius: 4px;
}
#applicant-links{
    margin-top: 50px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.app-btn:hover{
    background-color: #ffda47;
}
#download-photo{
    height: 400px;
    margin-top: 20px;
    width: 315px;
    /* padding:5px 20px 20px 10px; */
    border-radius: 19px;
    border:1px solid #FFCC00;
    font-family: 'reem kufi';
    color: #003366;
    box-shadow: 6px 4px 9.9px rgba(0, 0, 0, 0.25);
}
#download-photo a {
    font-size: 20px;
    text-decoration: none;
    font-family: 'montserrat';
    color: #003366;
}
#download-photo a p{
    display: inline-block;
    margin-left: 20px; ;
}
#download-photo img{
    margin-left: 10px;
    margin-top: 20px;
}

#download-docx{
    height: 79px;
    margin-top: 20px;
    width: 357px;
    /* padding:5px 20px 20px 10px; */
    border-radius: 19px;
    border:1px solid #FFCC00;
    font-family: 'reem kufi';
    color: #003366;
    box-shadow: 6px 4px 9.9px rgba(0, 0, 0, 0.25);
}
#download-docx a {
    font-size: 20px;
    text-decoration: none;
    font-family: 'montserrat';
    color: #003366;
}
#download-docx a p{
    display: inline-block;
    margin-left: 20px; ;
}
#download-docx img{
    margin-left: 10px;
    margin-top: 20px;
}
#applicant-photo{
    height: 300px;
    width: 300px;
    border-radius: 6px;
}
#approve-btn{
    background-color: #00FF1A;
    border: 0;
    color: #003366;
    border-radius: 4px;
    height: 42px;
    width: 122px;
    font-family: 'montserrat';
    font-size: 14px;
}
#decline-btn{
    background-color: #FF4444;
    border: 0;
    color: #fff;
    border-radius: 4px;
    height: 42px;
    width: 122px;
    font-family: 'montserrat';
    font-size: 14px;
}
#appdec-btn{
    margin-bottom: 50px;
    margin-top: 40px;
    display: flex;
    gap: 30px;
    position: relative;
    margin-left: 30%;
}
#approve-btn:hover{
    background-color: #36ff4a;
}
#decline-btn:hover{
    background-color: #ff6666;
}
#addcn-placement{
    position: relative;
    left: 30%;
    top: 130px;
    height: 200px;
    width: 62%;
}
#add-cn{
    margin-left: 80%;
    height: 46px;
    width: 170px;
    border-radius: 6px;
    box-shadow: 6px 4px 9.9px rgba(0, 0, 0, 0.25);
}
#add-cn p{
    font-family: 'montserrat';
    font-size: 14px;
    color: #003366;
    display: inline-block;
    margin-left: 20px;
}
#add-cn img{
    display: inline-block;
    position: relative;
    transform: translateY(7px);
}
#manage-placement{
    position: absolute;
    left: 31%;
    top: 200px;
    width: 62%;
    display: grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
}
#remupd-flex{
    display: flex;
    gap: 20px;
}
#remove-btn{
    background-color: #FF4444;
    border-radius: 5px;
    color: #fff;
    border: 0;
    height: 25px;
    width: 90px;
    font-family: 'montserrat';
    font-weight: 900;
    font-size: 8px;
    margin-left: 20px;
}
#update-btn{
    background-color: #36ff4a;
    border-radius: 5px;
    color: #003366;
    border: 0;
    height: 25px;
    width: 90px;
    font-family: 'montserrat';
    font-weight: 900;
    font-size: 8px;
    
}
#remove-btn:hover{
    background-color: #ff6666;
}