#ag-heading{
  font-size: 34px;
  font-family: 'montserrat';
  font-weight: 900;
  color: #003366;
  margin-top: 65px;
  position: absolute;
    left: 18%;
}
#ag-highlight{
  background-color: #FFCC00;
  height: 20px;
  width: 140px;
  position: absolute;
  top: 175px;
  left: 24%;
  z-index: -1;
}
#search-form{
  height: 45px;
  width: 250px;
  position: absolute;
  top: 180px;
  left: 67%;
  border-radius: 13px;
  display: flex;
  align-items: center;
  box-shadow: 5px 4px 25.1px rgba(0, 0, 0, 0.25)
}
#search-input{
  height: 100%;
  width: 80%;
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
  border: 0;
  outline: 0;
  text-indent: 10px;
  /* border: 0;
  outline: 0; */

}
#search-button{
  height: 100%;
  width: 20%;
  background-color: #003366;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
  border: 0;
  outline: 0;
}
#contact-center-placement{
  position: absolute;
  width: 70%;
  left: 15%;
  top: 290px;
  display: grid;
  grid-template-columns: repeat(3,minmax(0,1fr));
}
#notification-center-placement{
  position: absolute;
  width: 750px;
  left: 25%;
  top: 120px;
  padding: 50px;
  border-radius: 14px;
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: #EBEBEB;
}
#notify{
  color: black;
  background-color: #fff;
  margin: 20px;
  font-family: "reem kufi";
  border-radius: 9px;
  padding: 20px;
}
#notify p b{
  font-size: 16px;
  font-weight: 900;
  color: #003366;
  margin-bottom: 20px;
}
#notify p span{
  font-family: 'montserrat';
  color: #003366;
}
#notify-btn-accept{
  background-color: #00FF1A;
  border-radius: 5px;
  color: #003366;
  height: 25px;
  width: 90px;
  font-family: 'reem kufi';
  font-size: 14px;
}
#notify-btn-accept:hover{
  background-color: #5cff6c;
}
#notify-btn-cancel{
  background-color: #FF4444;
  border-radius: 5px;
  color: #fff;
  height: 25px;
  width: 90px;
  font-family: 'reem kufi';
  font-size: 14px;
}
#notify-btn-cancel:hover{
  background-color: #ff6666;
}
#contact-cards{
  margin: 0;
  height: 300px;
  width: 236px;
  border-radius: 32px;
  box-shadow: 5px 4px 25.1px rgba(0, 0, 0, 0.25);
  margin-top: 20px;
  margin-left: 50px;
}
#contact-photo{
height: 70%;
width: 100%;
border-top-left-radius: 32px;
border-top-right-radius: 32px;
}

#top-rated{
  position: absolute;
  transform: translate(-238px,33px);
}
#contact-name{
  font-family: 'montserrat';
  font-size: 13px;
  font-weight: 900;
  margin: 5px 0 0 15px;
  color: #003366;
}
#contact-location{
  font-family: 'reem kufi';
  font-size: 11px;
  margin: 5px 0 0 15px;
}
#get-contact button{
  font-size: 12px;
  font-family: 'reem kufi';
  color: #003366;
  background-color: #FFCC00;
  border-radius: 6px;
  height: 25px;
  width: 82px;
  border: 0;
  margin: 5px 0 0 15px;
}
#get-contact button:hover{
  background-color: #ffda47;
}
#gtcn-rating{
  display: flex;
  gap: 80px;
}
#ratings p{
  font-family: 'montserrat';
  color: #003366;
  font-size: 13px;
  font-weight: 700;
  position: absolute;
  transform: translate(12px,-41px);
}
#view{
  
}