body {
  margin: 0;
  line-height: normal;
}
/* nav */
.th-nav {
  width: 70%;
  position: relative;
  border-radius: 13px;
  background-color: #003366;
  height: 88px;
  top: 20px;
  left: 15%;
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: #fff;
  font-family: 'Reem Kufi';
  z-index: 99;
}
/* nav thaekedar */
.thaekedar {
  position: absolute;
  height: 35px;
  top: 24px;
  left: 101px;
  text-transform: uppercase;
  font-family: 'Reem kufi';
}
@media (max-width: 1366px) {
  .thaekedar {
    font-size: 25px; 
    top: 26px; 
    left: 89px; 
  }
}
/* nav logo */
#img-logo{
  height: 48.65px;
  width: 57.44px;
  position: absolute;
  left: 22px;
  top: 18px;
}
@media (max-width: 1366px) {
  #img-logo{
    height: 43px;
    width: auto;
    position: absolute;
    left: 26px;
    top: 21px;
  }
}
/* nav-link groups  */
.nav-link-div {
  position: absolute;
  top: 25px;
  left: 350px;
  width: 699px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 65px;
  font-size: 23px;
}
/* laptop  */
@media screen and (max-width: 1366px) {
  .nav-link-div {
    position: absolute;
    top: 25px;
    left: 290px;
    width: 699px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 62px;
    font-size: 18px;
  }

}
/* nav links with hover hover effect*/
.nav-link{
  position: relative;
  color: #fff;
  text-decoration: none;
}
.nav-link::after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  border-radius: 4px;
  background-color: #FFCC00;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.nav-link:hover:not(#signUpTxt):after{
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* signup Box with hover effect*/
#signUpTxt{
  color: #003366;
}
.signup-wrapper {
  border-radius: 13px;
  background-color: #ffcc00;
  height: 39px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  color: #003366;
}
.signup-wrapper:hover{
  background-color: #ffda47;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 150px;
  box-shadow: 3px 4px 11.4px rgba(0, 0, 0, 0.25);
  z-index: 1;
  border-radius: 15px;
}

/* Links inside the dropdown */
.dropdown-content a {
  font-size: 13px;
  color: #003366;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  border-radius: 15px;
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
#lgin{
  text-decoration: none;
}
.nav-link-div a{
  text-decoration: none;
}
#con-build{
  position: absolute;
  top: 111px;
  left: 18%;
  font-family: 'montserrat';
  font-size: 50px;
  font-weight: 900;
  /* text-transform: uppercase; */
  color: #003366;
}
#herop{
  position: absolute;
  left: 18%;
  top: 188px;
  margin-bottom: 5px;
  font-family: 'Reem kufi';
  font-size: 18px;
  color: #7B7B7B;
}
#herop a{
  color: #2793FF;
}
#herop a:hover{
  color: #0051a1;
}
#signup-bx{
  position: absolute;
  top: 260px;
  left: 17%;
}
.form-fields label{
  font-family: 'reem kufi';
  font-size: 20px;
  color: #003366;
  position: relative;
}
.form-fields input{
  height: 30px;
  width: 250px;
  border-radius: 6px;
  font-family: 'reem kufi';
  text-indent: 10px;
  border: 1px solid #003366;
}
.form-fields input::placeholder{
  color: #CBCBCB;
  margin-left: 5px;
  text-indent: 10px;
  font-size: 14px;

}
.form-fields{
  padding-top: 9px;
}
#heroimg{
  position: absolute;
  top: 210px;
  left: 47%;
  height: 411px;
  width: 619px;
}
#signup-button{
  background-color: #FFCC00;
  border-radius: 6px;
  height: 30px;
  width: 250px;
  border: none;
  position: absolute;
  top: 390px;
}
#signup-button h3{
  font-family: 'reem kufi';
  font-size: 20px;
  color: #003366;
  display: flex;
  justify-content: center;
  font-weight: 400;
  margin: 0px;
}
#signup-button:hover{
  background-color: #ffda47;
}
#or{
  position: absolute;
  top: 619px;
  left: 23.5%;
  font-size: 14px;
  font-family: 'montserrat';
  color: #787878;
}

/* footer */
#thfooter{
  background-color: #003366;
  height: 360px;
  position: absolute;
  width: 100%;
  top: 800px;
}
.ft-thaekedar {
  position: absolute;
  height: 35px;
  top: 24px;
  left: 22%;
  text-transform: uppercase;
  font-family: 'Reem kufi';
  color: #fff;
  font-size: 30px;
}
@media (max-width: 1366px) {
  .ft-thaekedar {
    font-size: 25px; 
    top: 26px; 
    left: 22%; 
  }
}
/* footer logo */
#ft-img-logo{
  height: 48.65px;
  width: 57.44px;
  position: absolute;
  left: 18%;
  top: 18px;
}
@media (max-width: 1366px) {
  #ft-img-logo{
    height: 43px;
    width: auto;
    position: absolute;
    left: 18%;
    top: 21px;
  }
}
#ft-p{
  font-family: 'reem kufi';
  font-size: 14px;
  color: #fff;
  position: absolute;
  top: 70px;
  left: 22%;
}
#ft-follow{
  font-family: 'montserrat';
  font-weight: 800;
  font-size: 18px;
  position: absolute;
  top: 170px;
  left: 22%;
  color: #fff;
}
#ft-links{
  display: flex;
  gap: 20px;
  position: absolute;
  top: 220px;
  left: 22%;
}
#ft-link-img{
  height: 40px;
  width: auto;
}
#ft-desc-link{
  position: absolute;
  top:37px;
  left: 45%;
}
#ft-bold-link{
  font-size: 20px;
  font-family: 'montserrat';
  font-weight: 800;
  color: #fff;
}
#ft-desc-li .ft-link-a{
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  font-family: 'reem kufi';
  color: white;
}
/* footer contact */
#ft-desc-contact{
  position: absolute;
  top:37px;
  left: 60%;
}
#ft-bold-contact{
  font-size: 20px;
  font-family: 'montserrat';
  font-weight: 800;
  color: #fff;
}
#ft-desc-cn .ft-link-a{
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  font-family: 'reem kufi';
  color: white;
}
#ft-copyright{
  color: #fff;
  font-family: 'News Cycle';
  font-weight: 700;
  font-size: 12px;
  position: relative;
  top: 320px;
  text-align: center;
}
/* #errormess{
  color: rgb(255, 35, 35);
  font-family: 'reem kufi';
  margin: 0;
  font-size: 14px;
  position: absolute;
  top: 420px;
  left: 23%;
}
#errormess span{
  color: #003366;
} */
#messbx{
  margin-left: 628px;
  margin-top: 63px;
  height: 50px;
  width: 300px;
  padding: 30px;
  border-radius: 9px;
  box-shadow: 3px 4px 11.4px rgba(0, 0, 0, 0.25);
}
#thdai{
  margin: 0;
  font-family: 'montserrat';
  font-weight: 900;
  color: #003366;
}
#mess{
  color: rgb(255, 32, 32);
  font-family: 'reem kufi';
}